@import url('https://fonts.googleapis.com/css2?family=Archivo:ital,wght@0,100..900;1,100..900&family=Fira+Code:wght@300..700&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style: none;
    color: white;
    font-family: Archivo;
    text-decoration: none;
}

:root{
    --background: #0B0B0B;
    --green: #97EDAA;
    --secondary-background: #101010;
    --border: #1F1F1F;
}

body{
    background-color: var(--background);
}